html,body,button {
    margin: 0; padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important; 
}

a {
    text-decoration: none;
    color: #fff;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-width: 1300px;
    z-index: 101;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    transition: all .3s
}

.headerbg {
    background-color: #000 !important; 
}

#header.bgBlack {
    background-color: #000;
    background-repeat: no-repeat;
    transition: all .3s;
}

#headerWrap {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2
}

#headerBox {
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: #000; */
    justify-content : flex-end;
}

#headerBox .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    transform: translate(-50%, -50%);
}

#headerBox .logo>img {
    max-width: 100px;
}
#headerBox>div {
    display: flex;
}

.menuBtn {
    position: relative;
    display: flex;
    margin: 20px;
    width: 29px;
    height: 22px;
    border: none;
    background: none;
    z-index: 3;
    cursor: pointer;
}

.menuBtn>span {
    position: absolute;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    top: 0;
}

.menuBtn span:nth-child(1) {
    top: 0;
}
.menuBtn span:nth-child(2),
.menuBtn span:nth-child(3) {
    top: 9px;
}
.menuBtn span:nth-child(4) {
    top: 18px;
}

.menuBtn.active span:nth-child(1),
.menuBtn.active span:nth-child(4) {
    opacity: 0;
}

.menuBtn.active span:nth-child(2) {
    transform: rotate(45deg);
}
.menuBtn.active span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    padding: 52px 0 75px;
    background-color: #000;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}


#nav.active {
    opacity: 1;
    visibility: visible;
    height: 200px;
}

#navBox {
    display: flex;
    justify-content: center;
    gap: 96px;
}

#navBox>div>a {
    font-size: 20px;
    font-weight: 700;
}

#navBox>div>ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 35px;
}

#navBox>div>ul>li>a {
    font-size: 18px;
    font-weight: 300;
}

#slideWrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 비디오 크기가 넘칠 경우 잘라내기 */
}


/* 메인슬라이드 */


#slide {
    width: 100%;
    height:100vh;
    overflow:hidden;
    position: relative;
    top:0;
    left:0;
  }

#slide>div{
    position: absolute;
    overflow: hidden;
    height:100%;
  }

#slide>div>img {
    max-width: 100%;
    max-height: 100%;
  }

#slide .slide-content {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 6%;
}

.slide-content>p:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.slide-content>p:nth-of-type(2) {
    font-size: 3.5rem;
    font-weight: 700;
}

.slide-content>a {
    font-size: 1rem;
    font-weight: 200;
    position: absolute;
    border: 1px solid #fff;
    padding: 14px;
    margin-top: 10%;
    
}


/* 웨이브 멤버십 영역 */

#wave {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 180px;
    overflow: hidden;
}

#wave-title {
    position: absolute;
    font-size: 8rem;
    font-weight: 200;
    z-index: 3;
    top: 150px;
    right: 3%;
}
/* 
#wave-title>p:nth-of-type(2) {
    position: absolute;
    font-size: 8rem;
    font-weight: 200;
    z-index: 3;
    right: 345px;
} */

#waveWrap {
    display: flex;
}

#left-content, #right-content {
    flex: 1;
}

#left-content>video {
    width: 100%; 
    height: 700px;
    object-fit: cover;
}

#right-content>div{
    margin-top: 500px;
    margin-left: 80px;
}

#right-content>div>p {
    line-height: 1.5;
}

#right-content>div>a {
    color: #000;
    display: inline-block;
    font-size: 0.8rem;
    border: 1px solid #000;
    padding: 12px;
    margin-top: 30px;
}



/* #자동차 슬라이드 컨텐츠 */

#subSlide-wraper {
    width: 100%;
    position: relative;
    margin-top: 100px;
    padding: 50px 0;
}

#subSlide-wraper>div {
    overflow: hidden;
}

#subSlide-wraper>div>ul {
    overflow: hidden;
    display: flex;
    margin: 0 100px;
    transition: transform 0.5s ease;
}

#subSlide-wraper>div>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
    position: relative;
    transition: transform 0.5s; 
}

#subSlide-wraper>div>ul>li>img {
    margin-top: 100px;
    max-width: 65%;
}

#subSlide-wraper .sub-content {
    position: absolute;
    width: 450px;
    top: 0; 
    left: 0;
}

.sub-content>h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.sub-content>p {
    width: 400px;
    line-height: 1.5;
}

.sub-content>button {
    border: none;
    background-color: #ffb901;
    padding: 14px 20px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 0.8rem;
    color: #000;
    font-weight: 600;
}

/* 이전, 다음 버튼 스타일 */
#slide-button>button {
    background-color: transparent;
    border: 2px solid #ffb901;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

/* 이전 버튼 위치 및 스타일 */
#slide-button .prev {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    color: #333;
}

/* 다음 버튼 위치 및 스타일 */
#slide-button .next {
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
    color: #333;
}



/* 아이콘 컨텐츠 */

#icon-content {
    background-color: #181818;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#icon-content>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin:180px 0;

}

#icon-content>ul>li {
    text-align: center;
    margin: 0 120px;
}

#icon-content>ul>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    padding-top: 120px;
}

#icon-content>ul>li:nth-of-type(1)>a {
    background: url("../images/icon1.png") no-repeat;
    background-position: center center;
    background-size: 70px 70px;
    width: 100px;
    text-align: center;
  
}

#icon-content>ul>li:nth-of-type(2)>a {
    background: url("../images/icon2.png") no-repeat;
    background-position: center center;
    background-size: 70px 70px;
    width: 100px;
    text-align: center;
}

#icon-content>ul>li:nth-of-type(3)>a {
    background: url("../images/icon3.png") no-repeat;
    background-position: center center;
    background-size: 70px 70px;
    width: 100px;
    text-align: center;
}

#icon-content>ul>li:nth-of-type(4)>a {
    background: url("../images/icon4.png") no-repeat;
    background-position: center center;
    background-size: 70px 70px;
    width: 100px;
    text-align: center;

}


/*   어드벤쳐 컨텐츠 */

#adventrue {
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
  }

.bg-image {
    width: 100%;
    height: 800px;
    background: url("../images/history.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#adventrue .ad-content {
    position: absolute;
    top: 200px;
    left: 80px;
  }

#adventrue .ad-content>p:nth-of-type(1) {
    font-size: 10rem;
    font-weight: 100;
    margin-bottom: 40px;
}

#adventrue .ad-content>p:nth-of-type(2) {
    font-size: 1.5rem;
    margin-bottom: 40px;
}   

#adventrue .ad-content>p:nth-of-type(3) {
    line-height: 1.5;
}

/* 애니메이션 적용 위한 css */

.an-content, .ad-content, .tr-content {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animate {
        opacity: 1;
        transform: translateY(0);
}


/* 브랜드 스토리 컨텐츠 */

#anywhere {
    width: 100%;
    height: 600px;
    background-color: #000;
    position: relative;
    display: flex;
  }

#anywhere>div:first-child {
    flex: 1;
  }

#anywhere>div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#anywhere>div:first-child>img {
    position: absolute;
    top: -120px;
    left: -200px;
  }

.an-content>a {
    color: #fff;
    font-size: 1rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important; ;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 15px 20px;
  }

.an-content>p {
    color: #fff;
  }

.an-content>p:nth-of-type(1) {
    font-size: 6rem;
    font-weight: 200;
    margin-bottom: 10px;
  }

.an-content>p:nth-of-type(2) {
    line-height: 1.5;
    margin-bottom: 40px;
  }




/* 트레일러 뱃지 컨텐츠 */

#trail {
    width: 100%;
    position: relative;
}

.trail-bg {
    width: 100%;
    height: 800px;
    background: url("../images/carbg.jpg") no-repeat;
    background-size: cover;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
}

.tr-content {
    position: absolute;
    bottom: 250px;
    color: #fff;
    left: 50px;
}

.tr-content>img {
    position: absolute;
    animation: bounce 2s infinite;
    top: -150px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.6));
}

.tr-content>h4 {
    font-size: 4rem;
    margin: 20px 0px;
}

.tr-content>p {
    line-height: 1.5;
}


/* 서비스 케어 컨텐츠 */

#service {
    width: 100%;
    margin-top: 200px;
}

#service>p {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 100px;
}

#se-wrapper {
    width: 100%;
    height: 500px;
    gap: 10px;
    display: flex;
}

.se-box {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#se-wrapper .se-box .se-hover { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
  
}

#se-wrapper .se-box .se-hover:hover {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#se-bg1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/service1.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

#se-bg1:hover::before {
    transform: scale(1.2); 
}

#se-bg2::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/service2.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; 
}

#se-bg2:hover::before {
    transform: scale(1.2);
}

#se-bg3::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/service3.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; 
}

#se-bg3:hover::before {
    transform: scale(1.2); 
}

#service .se-txt {
    position: absolute;
    text-align: center;
}

#service .se-txt>h3 {
    font-size: 2rem;
    color: #ffb901;
    font-weight: 700;
}

#service .se-txt>p {
    color: #fff;
    line-height: 1.5;
    width: 400px;
    margin-top: 40px;
}


/* 서브페이지 - 메인 */

.section {
    width: 100%;
    height: 100%;
}

#section1__wrap {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#section1__wrap>div>p {
    font-size: 20rem;
    font-weight: 800;
    color: #fff;
    text-shadow: -3px 0px rgb(55, 55, 55), 0px 3px rgb(55, 55, 55), 3px 0px rgb(55, 55, 55), 0px -3px rgb(55, 55, 55);
}

#section1__wrap>div:nth-of-type(2) {
    margin-top: -180px;
    text-align: center;
}

#section1__wrap>div>img {
    max-width: 80%;
}

#section1__txt {
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: center;
}

.txt1>h3 {
    font-size: 2rem;
    font-weight: 800;
}

.txt1>p {
    color: #979797;
    font-size: 1rem;
    margin-top: 10px;
}

.txt2>p:nth-of-type(1),.txt3>p:nth-of-type(1),.txt4>p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 500;
}

.txt2>p:nth-of-type(2),.txt3>p:nth-of-type(2),.txt4>p:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 10px;
}

.counting-text {
    min-width: 100px; /* 숫자 텍스트의 최소 너비 조정 */
    display: inline-block;
  }


/* section2 이미지 영역 */

#section2__wrap {
    width: 100%;
    margin-top: 150px;
    cursor: pointer;;
} 

.section2__img>img {
    max-width: 100%;
    filter: brightness(70%);
}

.gf1 {
    display:flex;
}

.gf1>div {
    flex: 1;
}

.gf2 {
    display: flex;
}

.gf2 {
    margin-top: -3px;
    flex: 1;
}

.section2__img:hover img{
    filter: brightness(100%);
}

#modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }
  
  #modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #modalImg {
    max-width: 100%;
    max-height: 100%;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  

/* section3 */

#section3__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section3__wrap>div:first-child {
    margin-top: 100px;
}

.button-wrap {
    width: 265px;
    border: 2px solid #474747;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.color-button {
    cursor: pointer;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 5px;
}

.color-button.active {
    border: 1px solid transparent; 
    outline: 2px solid rgb(53, 53, 53); 
    outline-offset: 3px; /* 공백의 크기를 조절할 수 있는 속성 */
  }

.color-button.active[data-color="white"] {
    border: 1px solid #979797;
    background-color: #ffffff;
  }

[data-color="blue"] {
    background-color: #096294;
  }

[data-color="red"] {
    background-color: #cc1301;
  }

[data-color="white"] {
    border: 1px solid #979797;
    background-color: #ffffff;
  }

[data-color="black"] {
    background-color: #000;
  }

[data-color="silver"] {
    background-color: #84817e;
  }

.color-txt {
    font-weight: 700;
    border-left: solid 1px #6e6e6e;
    padding-left: 10px;
    margin-left: 20px;
}

#section3__wrap>p {
    margin-top: 60px;
    text-align: center;
    line-height: 1.5;
}

.button-wrap>button>span {
    display: none;
}
/* section4 -- 영상 */

#section4 {
    margin-top: 120px;
}

#section4__wrap {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-txt {
    position: absolute;
    left: 400px;
    visibility: visible;
}

.video-txt>p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
    
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
  }

.play-button>img {
    max-width: 40px;
    max-height: 40px;
    filter: drop-shadow(10px 6px 6px rgba(0,0,0,0.4))
}


/* section4 -- capability */

#section5 {
    margin-top: 200px;
}

#section5__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section5__wrap>div>h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

#section5__wrap>div>p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

#section5__wrap>img {
    width: 1200px;
}

#img-wrap {
    margin-top: 100px;
    width: 100%;
    background-color: #181818;
    display: flex;
    padding: 100px 0px;

}

#img-wrap>div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.capa-content {
    width: 80%;
    color: #fff;
}

.an1 {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.an2 {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

.an3 {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.capa-animate {
    opacity: 1;
    transform: translateY(0);
}

.capa-content>img {
    max-width: 100%;
}

.capa-content>h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 0px;
}

.capa-content>p {
    line-height: 1.5;
}


/* section6 -- exterior */

#section6 {
    margin-top: 200px;
}

#section6__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section6__wrap>div>h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

#section6__wrap>div>p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

#section6__wrap>img {
    width: 1200px;
    margin-bottom: 200px;
}

#box-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

#box-content>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#box-content>div>img {
    max-width: 100%;
}

.txt-wrap>h4 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 30px;
}

.txt-wrap>p {
    line-height: 1.5;
}

.txt-wrap>button {
    background-color: #ffb901;
    color: #fff;
    font-weight: 800;
    border: none;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.txt-wrap-right {
    text-align: right;
}

#second-box {
    width: 100%;
    display: flex;
}

.second-img, .second-txt { flex: 1;}


/* section7 --- interiro */ 


#section7 {
    margin-top: 200px;
}

#section7__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section7__wrap>div>h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

#section7__wrap>div>p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

#section7__wrap>img {
    width: 1200px;
    margin-bottom: 150px;
}

#interior-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2열을 나타내는 속성 */
    grid-template-rows: repeat(2, 1fr); /* 2행을 나타내는 속성 */
}

#interior-content>div {
    max-width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

#interior-content>div>img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.inbox-txt {
    width: 80%;
    color: #fff;
    margin-left: 30px;
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.3s ease; 

}

#interior-content>div:hover .inbox-txt {
    transform: translateY(0);
    margin-bottom: 20px;
}

#interior-content>div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

#interior-content>div:hover::before {
    opacity: 1;
}

.inbox-txt>h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.inbox-txt>p {
    line-height: 1.5;
}



/* sesction8 --- 시승신청 */

#section8 {
    margin-top: 300px;
}

#section8__wrap {
    width: 100%;
    height: 100%;
}

.img-bg {
    width: 100%;
    height: 500px;
    background: url('../images/sdbg.jpg') no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#section8-content>h3 {
    font-size: 2rem;
    font-weight: 800;
}

#section8-content>p{
    font-size: 1.2rem;
    margin: 30px 0px;
}

#section8-content>a {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important; 
    background-color: #ffba00;
    font-size: 0.9rem;
    padding: 13px;
    color: #333;
    font-weight: 700;
}


/* 푸터 */

#site-footer {
    color: #fff;
    background-color: #000;
    margin-top: 200px;
}

#footerWrap {
    padding: 80px;
}

#footerBox {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    padding: 60px 0px;
}

#footerBox>div>p {
    font-size: 1.2rem;
    font-weight: 700;
}

#footerBox>div>ul {
    display: flex;
    flex-direction: column;
    gap : 15px;
    margin-top: 30px;
}

#footerBox>div>ul>li>a {
    color: #bebebe;
}

#footerBox>div:not(:first-child) {
    border-left: 1px solid #696969;
    padding-left: 30px;
}

#sub-footer, #sub-footer2 {
    display: flex;
    justify-content: center;
}

#sub-footer>ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 60px;
    cursor: pointer;
}

#sub-footer>ul>li:nth-of-type(1) {
    color: #ffb901;
}

#sub-footer2>p{
    font-size: 0.8rem;
    color: #bebebe;
}

#footer-icon {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    cursor: pointer;
}

#footer-icon>ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#footer-icon>ul>li>a>img {
    max-width: 20px;
}

